<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <section class="register-block">
    <div class="container">
      <div class="row">
        <div class="col-md-4 register-sec">
          <h2 class="text-center">Registrarse</h2>
          <div class="form-group">
            <div class="form-group">
              <%= f.label :nombre, value:"Nombre" %><br />
              <%= f.text_field :nombre, autofocus: true, autocomplete: "nombre", class:"form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :apellidos, value:"Apellidos" %><br />
              <%= f.text_field :apellidos, autocomplete: "apellidos", class:"form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :numPersonal, value:"Número de personal" %><br />
              <%= f.text_field :numPersonal, autocomplete: "numPersonal", class:"form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :email, value:"Correo" %><br />
              <%= f.email_field :email, autocomplete: "email", class:"form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password, value:"Contraseña"%>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> mínimo de caracteres)</em>
              <% end %><br />
              <%= f.password_field  :password, autocomplete: "new-password" , class:"form-control"%>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation, value:"Confirmación de contraseña" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:"form-control"%>
            </div>

            <div class="form-check">
              <%= f.submit "Registrarse" , class: "btn btn-register float-right"%>
            </div>
          </div>
          <div>
            <%- if controller_name != 'sessions' %>
              <%= link_to "Iniciar sesión", root_path %><br />
            <% end -%>
            <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
              <%= link_to "¿No recibistí el correo de confirmación?", new_confirmation_path(resource_name) %><br />
            <% end -%>
          </div>
        </div>
        <div class="col-md-8 banner-sec"></div>
      </div>
    </div>
  </section>
<% end %>



