<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="fondo_home">
  <div class="container">
    <div class="view-account">
      <section class="module">
        <div class="module-inner">
          <div class="side-bar">
            <div class="user-info">
              <%= image_tag url_for(current_academico.img_perfil), class: "mg-profile img-circle img-fluid center-block" %>
              <ul class="meta list list-unstyled">
                <li class="name"> <%= current_academico.nombre %>
                </li>
                <li class="email"><a href="#"><%= current_academico.email %></a></li>
              </ul>
            </div>
            <nav class="side-menu">
              <ul class="nav">
                <li>
                  <span>
                    <%= image_tag('editar_usuario.png', class: "iconos", data:{original:{title: "editar usuario"}})%>
                    <%= link_to "Editar perfil", edit_academico_registration_path, class: "letra" %>
                  </span>
                </li>
                <li>
                  <span>
                    <%= image_tag('chat.png', class: "iconos", data:{original:{title: "chat"}})%>
                    <a href="/chat" class="letra">Chat</a>
                  </span>
                </li>
                <li>
                  <span>
                    <%= image_tag('mis_docs.png', class: "iconos", data:{original:{title: "mis documentos"}})%>
                  <%= link_to "Mis documentos", home_path , class: "letra"%></li>
                </span>
                <li>
                  <span>
                      <%= image_tag('docs_compartidos.png', class: "iconos", data:{original:{title: "compartidos"}})%>
                  <%= link_to "Compartidos", home_path(compa: "compartidos"), class: "letra" %></li>
                </span>
                <li>
                  <span>
                      <%= image_tag('llave.png', class: "iconos", data:{original:{title: "llave"}})%>
                  <%= link_to "Generar llaves", auth_pass_path, method: :post, class: "letra" %></li>
                </span>
                <li>
                  <span>
                    <%= image_tag('cerrar_sesion.png', class: "iconos", data:{original:{title: "cerrar sesion"}})%>
                    <%= link_to "Cerrar Sesión", "signout", class: "letra" %>
                  </span>
                </li>
              </ul>
            </nav>
          </div>
          <div class="content-panel">
            <div class="content-header-wrapper">
              <div>
                <div class="subida">
                  <div class="row custom-row">
                    <div class="col">
                      <h2 class="title">Documentos</h2>
                    </div>
                    <div class="col col-md-auto">
                      <button class="btn btn-success" data-toggle="modal" data-target="#modalSubir"><i class="fa fa-plus"></i> Subir documento</button>
                    </div>
                    <div class="col col-lg-2">
                      <%= link_to 'Crear documento',editor_path, class: 'btn btn-primary' %>
                      <!--<button class="btn btn-success" data-toggle="modal" data-target="#modalCrear"><i class="fa fa-plus"></i> Crear documento</button>-->
                    </div>
                    <div class="col col-lg-2"></div>
                  </div>
                  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modalSubir">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Subir archivo</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body container">
                          <%=form_for @doc_uploaded , url: { controller: "home", action:"upload_doc", method: :post }, html: {class: "form-group"}, multipart: true do |f| %>
                            <div class="form-group">
                              <%= f.label :nombre, value: "Título: ", class: "col-form-label" %>
                              <%= f.text_field :nombre, class: "form-control" %>
                            </div>
                            <div class="form-group">
                              <%= f.file_field :archivo, class: "form-control", accept: 'application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document' %>
                            </div>
                            <div class="form-group">
                              <label class="label-as-block">Si es un pdf tambien ingrese su certificado (archivo.pem)</label>
                              <%= file_field_tag "pem_file", class: "form-control", accept: 'application/x-pem-file' %>
                              <%= password_field_tag  "pass_pem"%>
                            </div>
                            <div class="modal-footer">
                              <%= f.submit "Guardar", class: "btn btn-primary" %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
<!--                  <div class="modal fade" role="dialog" id="Subir">-->
<!--                    <div class="modal-content">-->
<!--                      <div class="modal-header">-->
<!--                        <h5 class="modal-title">Subir documento</h5>-->
<!--                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                          <span aria-hidden="true">&times;</span>-->
<!--                        </button>-->
<!--                      </div>-->
<!--                      <div class="modal-body container">-->
                        <%#=form_for @doc_uploaded , url: { controller: "home", action:"upload_doc", method: :post }, html: {class: "nifty_form"}, multipart: true do |f| %>
<!--                          <div class="row">-->
                            <%#= f.label :nombre, value: "Título: " %>
                            <%#= f.text_field :nombre, class: "form-control" %>
<!--                          </div>-->
<!--                          <div class="row">-->
                            <%#= f.label :formato, value: 'Formato:' %>
                            <%#= f.select :formato, [ 'pdf', 'docx'], prompt: 'Selecciona un formato', class: 'custom-select', accept: 'application/msword, application/pdf' %>
<!--                          </div>-->
<!--                          <div class="row">-->
<!--                            <%#= f.file_field :archivo %>>-->
<!--                          </div>-->
<!--                          <div class="modal-footer">-->
                            <%#= f.submit "Publicar", class: "btn btn-primary" %>
<!--                          </div>-->
                        <%# end %>
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
                </div>
              </div>
            </div>
            <%= render partial: @partial_view %>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>